# .ebextensions/01_carniceria.config

container_commands:
  01_migrate:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate'

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "carniceria.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: "carniceria.wsgi:application"
