# .ebextensions/01_carniceria.config

container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_makesuper:
    command: "django-admin loaddata data.json"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "carniceria.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: "carniceria.wsgi:application"
