{% extends 'content.html' %}
{% block title %}Dashboard{% endblock %}


{% block child %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

      <div class="row align-items-start">
        <div><span>Locales</span> <a href="{% url 'venue_create' %}">Crear nuevo local</a></div>
        
        <table>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
          </tr>
          {% for venue in venues %}
            <tr>
              <td><a href="venues/details/{{ venue.id }}">{{ venue.name }}</a></td>
              <td>{{ venue.address }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}