<header class="">
  <nav class="py-2 bg-light border-bottom">
      <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
          </ul>
          <ul class="nav">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="#">Hi, {{user.username}} 
                {% if user.company_set.all.count > 1 %}
                <select>
                {% for company in user.company_set.all %}   
                  <option>{{company.name}}</option>
                {% endfor %}
                </select>
                {% else %}
                {{user.company_set.first.name}}
                {% endif %} </a></li>
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link link-dark px-2">Logout</a></li>
            {% else %}
              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Login</a></li>
            {% endif %}
            
            
          </ul>
        </div>
  </nav>
</header>